body{
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: #5cb6f9;
}
.buttons{
    margin:30px 0 0 2px;
    padding: 5px;
}
.timer{
    color: #f2fbff;
    text-align: center;
    width: 15rem;
    height:15rem;
    border: 6px solid #e8f5fc;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fact{
    font-style: italic;
    padding: 3px;
    margin: 2px;
    font-size: 1rem;
}
